In [2]:
a = ["banana", "apple", "microsoft"]

In [3]:
print(a)

['banana', 'apple', 'microsoft']

In [7]:
for element in a:
# this line means for each element in this list.
    print(element)

banana
apple
microsoft

In [10]:
for element in a:
    print(element)
    print(element)

banana
banana
apple
apple
microsoft
microsoft

In [15]:
b = [10, 20, 30]
total = 0
for e in b:
    total = total + e
print(total)

60

In [18]:
#RANGE:
q = list(range(1,11))
print(q)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [24]:
total = 0
for e in range(1, 100):
    total = total + e
    # Here we can also write total += i
print(total)

4950

In [25]:
print(list(range(1,11)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]